<h1> Add New Dojo! </h1>
<form action='/dojos' method='post'>
    <input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
	Branch:
	<input type='text' name='dojo[branch]'><br>
	Street:
	<input type='text' name='dojo[street]'><br>
	City:
	<input type='text' name='dojo[city]'><br>
	State
	<input type='text' name='dojo[state]'><br>
	<input type='submit' value='Submit'>
</form>

<a href='/'>Go Back</a>



<% if flash[:errors] %>
	<% flash[:errors].each do |mistakes| %>
 		<p style="color:red"><%= mistakes %></p>
 	<% end %>
<% end %>